@charset "utf-8";


#calnedar{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  margin-bottom: 50px;
}

section{
  margin: 50px;
  display: inline-block;
}

h1{
  font-size: 25px;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

td{
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

td:first-child{
  color: red;
}

td:last-child{
  color: royalblue;
}

td.is-disabled{
  color: #ccc;
}

.return_month{
  margin-top: 30px;
  margin-left: 40px;
}

.move_month{
  margin-left: 40px;
}